<nav
  class="navbar navbar-expand-sm navbar-dark fixed-top"
  id="main-nav"
  data-aos="fade-in"
  data-aos-anchor="#about"
  data-aos-anchor-placement="top-top"
>
  <div id="navcontainer" class="container">
    <a (click)="scroll('home')" role="button" class="navbar-brand"
      ><strong>IVAN OKHRIMOVICH</strong></a
    >
    <button
      id="togglebutton"
      class="navbar-toggler collapsed position-relative"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span> </span>
      <span> </span>
      <span> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            role="button"
            (click)="scroll('about')"
            data-target="#about"
            id="navbutton"
            class="nav-link"
            >ABOUT&nbsp;ME</a
          >
        </li>
        <li
          class="nav-item {{ act2 }}"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            role="button"
            (click)="scroll('portfolio')"
            data-target="#portfolio"
            id="navbutton"
            class="nav-link"
            >PROJECTS</a
          >
        </li>
        <li
          class="nav-item {{ act3 }}"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            role="button"
            (click)="scroll('contact')"
            data-target="#contact"
            id="navbutton"
            class="nav-link"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  id="content"
  data-spy="scroll"
  data-target="#main-nav"
  style="overflow: auto;"
></div>
