<div id="cutone"></div>

<section id="portfolio" class="bg-light text-muted py-5">
  <div class="container">
    <div id="title" class="row justify-content-center">
      <div
        data-aos="fade-in"
        data-aos-easing="linear"
        class="col-sm-10 col-md-8 mt-3"
      >
        <h5 id="projects" class="m-auto text-center display-3">
          PROJECTS
        </h5>
      </div>
    </div>

    <div class="row justify-content-center mt-5" >
      <div
        data-aos="fade-up-right"
        id="project"
        class="col-sm-10 col-md-8 col-lg-5 my-2"
      >
        <h2 id="heading" class="pb-2">
          CARS Management System
        </h2>

        <h4 id="bodytext" class="text-justify">
          CARS Management System was designed specifically for Calgary Animal Rescue Society (CARS). Developed to minimize the labour work associated with handling hundreds of applications for adoption of rescued animals, becoming a foster or on-site volunteering, and signing up for CARS’ seasonal events.
        </h4>
        <h4 id="bodytext" class="text-justify">
          Designed and developed using Angular, Bootstrap, Spring MVC, and
          MySQL.
        </h4>
      </div>

      <div
        data-aos="fade-up-left"
        class="row justify-content-center img-hover-zoom col-sm-10 col-md-8 col-lg-5 mb-5 mx-1"
      >
        <img
          #target
          (click)="!seeContent ? scroll(target) : false; turn()"
          src="../../assets/cars-logo.png"
          alt="CARS logo"
          id="angularproject"
          class="img-fluid w-75 shadow rounded"
        />

        <h5 id="bodytext" class="centered rounded p-1">
          <a data-aos="fade-in"    data-aos-once="true" *ngIf="!seeContent"> Explore</a>
          <a data-aos="fade-in"   data-aos-once="true"  *ngIf="seeContent"> Hide Details</a>
        </h5>

        <div
          *ngIf="seeContent"
          id="projectset"
          data-aos="fade-in"
          data-aos-once="true"
          class="aos-init"
          data-aos-easing="linear"
        >
          <a
            id="projectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="https://github.com/IvanOkh/Volunteer-Management-System-Frontend"
            >Code</a
          >

          <a
            id="projectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="https://calgaryanimalrescue.com"
            >Client</a
          >

          <a
            id="projectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="http://www.goptech.ca"
            >Live</a
          >
        </div>
      </div>
    </div>

    <div
      data-aos="fade-in"
      class="aos-init row justify-content-center my-4"
      data-aos-easing="linear"
      *ngIf="seeContent"
    >
      <div class="desc col-sm-10">
        <div>
          <h4>
            <p id="bodytext" class="text-justify pr-lg-5">
              The ultimate goal of this project is to facilitate the organization’s resource management and maximize its capacity to rescue as many animals as possible.
The app to aid general and specific administrative tasks, this app also enables CARS staff to easily navigate through the database of rescued animals, current and potential volunteer workers & foster families, and the facility’s vacancy, as well as its capacity. Moreover, we are also working on the CARS’ website as a part of this project; once this project is complete, anyone will be able to see the rescued animals on the website and complete the application for adoption on-line. Both the app and website can be accessed from a computer or mobile device.
            </p>
          </h4>
        </div>
      </div>
    </div>

    <div id="splitline" class="row justify-content-center">
      <div class="col-sm-10 col-lg-6 mr-md-3 mr-lg-5">
        <hr />
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div
        data-aos="fade-up-right"
        id="project"
        class="col-sm-10 my-2 col-lg-5"
      >
        <h2 id="heading" class="pb-2">
          Inventory Tracker
        </h2>

        <h4 id="bodytext" class="text-justify">
          This Inventory Tracker app is a software that anyone can use to help track personal items in the home, office, or at a self-storage facility. It stores user data on a server and can be accessed from any newer desktop or mobile internet browser. This app will feature user-friendly interface, online registration, password protection, and two-factor authentication support.
        </h4>
        <h4 id="bodytext" class="text-justify">
          Designed and developed using HTML5, CSS3, Java, and SQL.
        </h4>
      </div>
      <div
        data-aos="fade-up-left"
        class="row justify-content-center img-hover-zoom col-sm-10 col-md-8 col-lg-5 mx-1 mb-5"
      >
        <img
          #javatarget
          (click)="!seeJavaContent ? scroll(javatarget) : false; turnjava()"
          src="../../assets/ims.png"
          alt="Inventory Tracker Logo"
          id="javaproject"
          class="img-fluid w-75 shadow rounded"
        />

        <h5 id="bodytext" class="centered rounded p-1">
          <a data-aos="fade-in"    data-aos-once="true" *ngIf="!seeJavaContent"> Explore</a>
          <a data-aos="fade-in"    data-aos-once="true" *ngIf="seeJavaContent"> Hide Details</a>
        </h5>

        <div
          *ngIf="seeJavaContent"
          id="projectset"
          data-aos="fade-in"
          data-aos-once="true"
          class="aos-init"
          data-aos-easing="linear"
        >
          <a
            id="javaprojectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="https://github.com/IvanOkh/Inventory-Tracker"
            >Code</a
          >
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center"
      *ngIf="seeJavaContent"
      data-aos="fade-in"
      data-aos-easing="linear"
    >
      <div class="desc col-sm-10 my-4">
        <div data-aos="fade-in" data-aos-duration="500" class="text">
          <h4 id="bodytext" class="text-justify pr-lg-5">
            The purpose of the system is to make it easier and more efficient than ever before to access stored items. The application will be accessible from desktop and mobile devices. The app release is scheduled for August 2020.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
