<div id="cutone"></div>

<section id="portfolio" class="bg-light text-muted py-5">
  <div class="container">
    <div id="title" class="row justify-content-center">
      <div
        data-aos="fade-in"
        data-aos-easing="linear"
        class="col-sm-10 col-md-8 mt-3"
      >
        <h5 id="projects" class="m-auto text-center display-3">
          PROJECTS
        </h5>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div
        data-aos="fade-up-right"
        id="project"
        class="col-sm-10 col-md-8 col-lg-5 my-2"
      >
        <h2 id="heading" class="pb-2">
          CARS Management System
        </h2>

        <h4 id="bodytext" class="text-justify pb-2">
          The CARS Management System is a web application that was designed and
          developed for Calgary Animal Rescue Society (CARS). This app helps
          manage the core functions of nonprofit animal rescue organizations,
          including adoption forms management, and events & volunteer tracking.
          The system can be accessed via any modern desktop or mobile browser.
        </h4>
        <h4 id="bodytext" class="text-justify pb-3">
          Designed and developed using Angular, Bootstrap, Spring MVC, and
          MySQL.
        </h4>
      </div>

      <div
        data-aos="fade-up-left"
        class="row justify-content-center img-hover-zoom col-sm-10 col-md-8 col-lg-5 mb-5 mx-1"
      >
        <img
          #target
          (click)="!seeContent ? scroll(target) : false; turn()"
          src="../../assets/cars-logo.png"
          alt="CARS logo"
          id="angularproject"
          class="img-fluid w-75 shadow rounded"
        />

        <h5 id="bodytext" class="centered rounded p-1">
          <a data-aos="fade-in" *ngIf="!seeContent"> Explore</a>
          <a data-aos="fade-in" *ngIf="seeContent"> Hide Details</a>
        </h5>

        <div
          *ngIf="seeContent"
          id="projectset"
          data-aos="fade-in"
          data-aos-once="true"
          class="aos-init"
          data-aos-easing="linear"
        >
          <a
            id="projectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="https://github.com/IvanOkh/Volunteer-Management-System-Frontend"
            >Code</a
          >

          <a
            id="projectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="https://calgaryanimalrescue.com"
            >Client</a
          >

          <a
            id="projectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="http://www.goptech.ca"
            >Live</a
          >
        </div>
      </div>
    </div>

    <div
      data-aos="fade-in"
      class="aos-init row justify-content-center my-4"
      data-aos-easing="linear"
      *ngIf="seeContent"
    >
      <div class="col-sm-10">
        <div>
          <h4>
            <p id="bodytext" class="text-justify pr-lg-5">
              This project ensures that all the essential services used at CARS
              are concentrated into one place instead of being scattered across
              multiple applications. The major features that we have designed
              and built include the ability to keep track of rescue’s events,
              volunteers, fosters, and adoption applications. While the public
              can easily access our application online to apply to become a
              foster, volunteer, or adopt a dog or cat, the active volunteers
              enjoy a feature that lets them browse and register for upcoming
              events.
            </p>
          </h4>
        </div>
      </div>
    </div>

    <div id="splitline" class="row justify-content-center">
      <div class="col-sm-10 col-lg-6 mr-md-3 mr-lg-5">
        <hr />
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div
        data-aos="fade-up-right"
        id="project"
        class="col-sm-10 my-2 col-lg-5"
      >
        <h2 id="heading" class="pb-2">
          Inventory Tracker
        </h2>

        <h4 id="bodytext" class="text-justify pb-2">
          The Inventory Tracker is a software that can help to track personal
          items in the home, office, or at a self-storage facility. It stores
          user data on a server and can be accessed from any modern desktop or
          mobile browser. This app will feature a user-friendly interface,
          online registration, password protection, and two-factor
          authentication support.
        </h4>
        <h4 id="bodytext" class="text-justify pb-3">
          Designed and developed using HTML5, CSS3, Java, and SQL.
        </h4>
      </div>
      <div
        data-aos="fade-up-left"
        class="row justify-content-center img-hover-zoom col-sm-10 col-md-8 col-lg-5 mx-1 mb-5"
      >
        <img
          #javatarget
          (click)="!seeJavaContent ? scroll(javatarget) : false; turnjava()"
          src="../../assets/ims.png"
          alt="Inventory Tracker Logo"
          id="javaproject"
          class="img-fluid w-75 shadow rounded"
        />

        <h5 id="bodytext" class="centered rounded p-1">
          <a data-aos="fade-in" *ngIf="!seeJavaContent"> Explore</a>
          <a data-aos="fade-in" *ngIf="seeJavaContent"> Hide Details</a>
        </h5>

        <div
          *ngIf="seeJavaContent"
          id="projectset"
          data-aos="fade-in"
          data-aos-once="true"
          class="aos-init"
          data-aos-easing="linear"
        >
          <a
            id="javaprojectbutton"
            class="btn shadow"
            role="button"
            target="blank"
            href="https://github.com/IvanOkh/Inventory-Tracker"
            >Code</a
          >
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center"
      *ngIf="seeJavaContent"
      data-aos="fade-in"
      data-aos-easing="linear"
    >
      <div class="col-sm-10 my-4">
        <div data-aos="fade-in" data-aos-duration="500" class="text">
          <h4 id="bodytext" class="text-justify pr-lg-5">
            The purpose of the system is to make it easier and more efficient
            than ever before to access stored items. The application will be
            accessible from desktop and mobile devices. The release is scheduled
            in August 2020.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
