#cuttwo {
  background: url(../../assets/astronaut4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 35vh;
}

#contact-heading {
  color: #03254c;
}

#bodytext {
  color: #03254c;
}

/* MEDIA QUERIES */

/* iPad Pro- */
@media only screen and (max-width: 1040px) and (orientation: portrait) {
  #contact-heading {
    font-size: 55px;
  }
  #cuttwo {
    height: 0vh;
  }
}

/* iPad Pro- */
@media only screen and (max-width: 991px) and (orientation: portrait) {
  #heading {
    text-align: center;
  }
}

/* iPad - */
@media only screen and (max-width: 770px) and (orientation: portrait) {
  #contact-heading {
    font-size: 55px;
  }
  .decreased-padding {
    padding-top: 0em !important;
  }
}

/* MOBILE SCREEN - Pixel 2 */
@media only screen and (max-width: 411px) and (orientation: portrait) {
  #contact-heading {
    font-size: 40px;
  }
  .decreased-padding {
    padding-top: 0em !important;
  }
}

/* END OF MEDIA QUERIES */

.img-hover-zoom {
  /* transition: all 0.2s ease-in-out; */
  /* transition: transform 1s ease-in-out; */
  backface-visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

/* transforming the image when container gets hovered */
.img-hover-zoom:focus,
.img-hover-zoom:active {
  transform: scale(1.2);
}

@media (hover: hover) and (pointer: fine) and (max-width: 1040px) {
  .img-hover-zoom:hover {
    transform: scale(1.2);
  }
}

@media (hover: hover) and (pointer: fine) and (min-width: 1041px) {
  .img-hover-zoom:hover {
    transform: scale(1.2);
  }
}

#fb {
  color: #4267b2;
  transition: all 0.5s;
  
}

#md {
  color: #000000;
  transition: all 0.5s;
  border-top-right-radius:  18px 6px;
  border-top-left-radius: 18px 6px;
  border-bottom-right-radius: 17px 6px;
  border-bottom-left-radius: 17px 6px;
  overflow: hidden;
}



#gg {
  color: #d44638;
  transition: all 0.5s;

}

#gh {
  border-radius: 80%;
  color: #6e5494;
  transition: all 0.5s;

}

#ln {
  border-radius: 80%;
  color: #0e76a8;
  transition: all 0.5s;

}

@media (max-width: 497px) {
  #fb[data-aos="fade-up-left"] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #md[data-aos="fade-up"] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #gg[data-aos="fade-up-left"] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #gh[data-aos="fade-up-right"] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #ln[data-aos="fade-up-right"] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.list-group {
  color: #03254c !important;
}