<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <div
            id="intro-1"
            data-aos="fade-in"
            data-aos-delay="50"
            class="aos-init"
          >
            <h5 id="subtext1" class="text-center display-2">
              Hi, I am Ivan
            </h5>
          </div>

          <div data-aos="fade-in" data-aos-delay="850" class="aos-init">
            <h2 id="subtext2" class="text-center">
              A software developer with big dreams
            </h2>
          </div>

          <div>
            <!-- data-aos="fade-down" data-aos-delay="2500" class="aos-init" -->
            <div
              data-aos="fade-down"
              data-aos-delay="1600"
              class="row justify-content-center"
              data-aos-once="true"
            >
              <div id="arrow" class="row align-items-end">
                <div class="rellax row" data-rellax-speed="10">
                  <p class="img-hover-zoom text-center">
                    <a class="btn" href="#about">
                      <i
                        id="doubledown"
                        class="fas fa-angle-double-down fa-3x animate-bounce"
                      ></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="explore-tag"></div>
